.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}

.slider {
    -webkit-appearance: none;
    width: inherit;
    height: 8px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7; /* Начальное значение прозрачности */
    -webkit-transition: .15s;
    transition: opacity .15s; /* Время применения прозрачности */
    margin-top: 10px;
    margin-bottom: 10px;
}

.slider:hover {
    opacity: 1; /* Конечное значение прозрачности */
}

input[type=range]::-webkit-slider-thumb {
     -webkit-appearance: none;
     width: 15px;
     height: 15px;
     border-radius: 50%;
     background: #523d15 ;
     cursor: pointer;
}

input[type=range]::-moz-range-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #523d15 ;
  cursor: pointer;
}

.homepage-section {
    padding-right: 0px;
    padding-left: 0px;
    margin-bottom: 50px;
}

#homepage-calc-container {
    background-image: url(../img/buckwheat_home.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 20px;
}

#homepage-blurred-section {
    backdrop-filter: blur(20px) brightness(130%);
    -webkit-backdrop-filter: blur(10px);
    margin: 30px;
    border-radius: 5px;
    padding: 25px;
    padding-top: 10px;
}

.col-sm-4 {
    margin: 20px;
}

#homepage-about-us {
    font-size: 25px;
}

.slider-opt {
    width: calc(100% - 50px)
}

.alert {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-right: 20px;
}

.close {
    padding-top: 5px;
}

.homepage-calc {
    padding-top: 15px;
}

#homepage-load-wb-prices {
    align-self: center;
}

#homepage-load-wb-prices-sipnner {
    margin-left: 5px;
}

#comment-warning {
    padding-bottom: 10px;
}

#homepage-feedback-block {
    padding-top: 10px;
}

.comment-date {
    color: darkgrey;
    font-size: small;
}

.card-title {
    margin-bottom: 0px;
}

.comment-header {
    margin-bottom: 10px;
}

.rate-btn {
    height: 15px;
    width: 15px;
}

.card-footer {
    background-color: white;
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.comment-card-body {
    padding: 13px;
}

.comment-card {
    width: 340px;
}

.comment-text {
    margin-top: 15px;
    margin-bottom: 15px;
}

.is-comment-good {
    padding-left: 5px;
    padding-right: 5px;
}

.rating-btns {
    padding-left: 5px;
    padding-right: 5px;
}

#send-comment-btn {
    margin-top: 10px !important;
}

#comment-form-container {
    width: 250px;
}