<!DOCTYPE html>
<html lang="en">
<head>

  {% block title %}<title>Гречи нет</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body data-spy="scroll" data-target=".navbar" data-offset="100" style="-webkit-font-smoothing: antialiased">
  {% block sidebar %}
  <nav class="navbar navbar-expand-sm bg-light navbar-light fixed-top">
    <a class="navbar-brand" href="{% url 'index' %}">Гречи нет</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#homepage-navbar-menu" aria-controls="homepage-navbar-menu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="homepage-navbar-menu">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="#about-us">О нас</a>
        </li>
      </ul>
      {% if is_participant_email_valid == False %}
      <div class="alert alert-warning alert-dismissible my-2 my-lg-0">
        <button type="button" class="close" data-dismiss="alert" id="part-email-close">&times;</button>
        <strong>Ошибка в email.</strong> Пожалуйста, введите свой email</a>.
      </div>
      {% endif %}
      {% if is_email_known == True %}
      <div class="alert alert-success alert-dismissible my-2 my-lg-0">
        <button type="button" class="close" data-dismiss="alert" id="part-email-close">&times;</button>
        <strong>Уже с нами?</strong> Проверьте ваш <a href="{% url 'email_invite' participant_email %}">e-mail</a>, чтобы подтвердить, что это вы.
      </div>
      {% endif %}
      {% if participant_email and is_user_auth == True %}
      <div class="my-2 my-lg-0" id="navbar-hello-msg">
        <span>Привет, </span>
        <span id="navbar-email">{{participant_email}}</span>
        <a class="navbar-logout" href="{% url 'logout' %}" style="padding-left: 10px; color: black;">Выйти?</a>
      </div>
      {% endif %}
      {% if is_user_auth == False %}
      <form class="form-inline my-2 my-lg-0" action="{% url 'add_participant' %}" method="post" id="participant-form">
        {% csrf_token %}
        <input class="form-control mr-sm-2" type="email" placeholder="Email" aria-label="Следить" id="id_email" name="email" required />
        <input type="hidden" id="packages_count_h" name="packages_count" value="" />
        <input type="hidden" id="meals_per_day_h" name="meals_per_day" value="" />
        <input type="hidden" id="wb_per_meal_h" name="wb_per_meal" value="" />
        <input type="hidden" id="package_volume_h" name="package_volume" value="" />
        <input type="hidden" id="hungry_people_h" name="hungry_people" value="" />
        <button class="btn btn-dark my-2 my-sm-0" type="button" id="submit-btn">Участвовать</button>
      </form>
      <script src="{% static 'js/participant-form.js' %}"></script>
      {% endif %}
    </div>
  </nav>
  {% endblock %}
  {% block content %}{% endblock %}
  <script src="{% static 'js/sliders.js' %}"></script>
</body>
</html>