<!DOCTYPE html>
<html lang="en">
<head>

  {% block title %}<title>Гречи нет</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body data-spy="scroll" data-target=".navbar" data-offset="100" style="-webkit-font-smoothing: antialiased">
  {% block sidebar %}
  <nav class="navbar navbar-expand-sm bg-light navbar-light fixed-top">
    <a class="navbar-brand" href="{% url 'index' %}">Гречи нет</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#homepage-navbar-menu" aria-controls="homepage-navbar-menu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="homepage-navbar-menu">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="#about-us">О нас</a>
        </li>
      </ul>
      {% if is_participant_email_valid == False %}
      <div class="alert alert-warning alert-dismissible my-2 my-lg-0">
        <button type="button" class="close" data-dismiss="alert" id="part-email-close">&times;</button>
        <strong>Ошибка в email.</strong> Пожалуйста, введите свой email</a>.
      </div>
      {% endif %}
      {% if participant_email%}
      <h4>{{participant_email}}</h4>
      {% endif %}
      {% if not participant_email %}
      <form class="form-inline my-2 my-lg-0" action="{% url 'add_participant' %}" method="post">
        {% csrf_token %}
        <input class="form-control mr-sm-2" type="email" placeholder="Email" aria-label="Следить" id="id_email" name="email" required />
        <button class="btn btn-dark my-2 my-sm-0" type="submit">Участвовать</button>
      </form>
      {% endif %}
    </div>
  </nav>
  {% endblock %}
  {% block content %}{% endblock %}
 <script src="{% static 'js/sliders.js' %}"></script>
</body>
</html>