{% extends "base_generic.html" %}

{% block content %}
<div class="container-fluid homepage-section" id="section1">
    <div class="row">
      <h1>Гречи нет</h1>
    </div>
    <div class="container-fluid" id="homepage-calc-container">
    <div class="row justify-content-center" id="homepage-blurred-section">
        <div class="col-lg-6 homepage-calc">
            <h2>Хватит на <span id="days-enough">1</span> <span id="dney">день</span></h2>
            <h3>Пакетов гречи: <span id="packages-count">1</span></h3>
            <input type="range" min="1" max="100" value="1" class="slider" id="packages-count-slider">
            <div id="homepage-options-days-card">
            <div class="card">
                <div class="card-header">
                    <a class="collapsed card-link" data-toggle="collapse" href="#days-options">Дополнительно</a>
                </div>
                <div id="days-options" class="collapse show" data-parent="#homepage-options-days-card">
                    <div class="card-body">
                        <h4>Приемов гречи в день: <span id="meals-per-day-days">2</span></h4>
                        <input type="range" min="1" max="5" value="2" class="slider slider-opt" id="meals-per-day-slider-days">
                    </div>
                    <div class="card-body">
                        <h4>Гречи за прием: <span id="wb-per-meal-days">200</span> гр</h4>
                        <input type="range" min="50" max="500" value="200" class="slider slider-opt" id="wb-per-meal-slider-days">
                    </div>
                    <div class="card-body">
                        <h4>Объем пакета гречи: <span id="package-volume-days">1000</span> гр</h4>
                        <input type="range" min="100" max="2000" value="1000" class="slider slider-opt" id="package-volume-slider-days">
                    </div>
                    <div class="card-body">
                        <h4>Голодных людей: <span id="hungry-people-days">1</span></h4>
                        <input type="range" min="1" max="10" value="1" class="slider slider-opt" id="hungry-people-slider-days">
                    </div>
                </div>
            </div>
            </div>
        </div>
        <div class="col-lg-6 homepage-calc">
            <h2><span id="nujno">Нужен</span> <span id="wb-packages-enough">1</span> <span id="paketov">пакет</span> гречи</h2>
            <h3>Дней карантина: <span id="days">14</span></h3>
            <input type="range" min="1" max="365" value="14" class="slider" id="days-slider">
            <div id="homepage-options-wb-card">
            <div class="card">
                <div class="card-header">
                    <a class="collapsed card-link" data-toggle="collapse" href="#wb-options">Дополнительно</a>
                </div>
                <div id="wb-options" class="collapse show" data-parent="#homepage-options-wb-card">
                    <div class="card-body">
                        <h4>Приемов гречи в день: <span id="meals-per-day-wb">2</span></h4>
                        <input type="range" min="1" max="5" value="2" class="slider slider-opt" id="meals-per-day-slider-wb">
                    </div>
                    <div class="card-body">
                        <h4>Гречи за прием: <span id="wb-per-meal-wb">200</span> гр</h4>
                        <input type="range" min="50" max="500" value="200" class="slider slider-opt" id="wb-per-meal-slider-wb">
                    </div>
                    <div class="card-body">
                        <h4>Объем пакета гречи: <span id="package-volume-wb">1000</span> гр</h4>
                        <input type="range" min="100" max="2000" value="1000" class="slider slider-opt" id="package-volume-slider-wb">
                    </div>
                    <div class="card-body">
                        <h4>Голодных людей: <span id="hungry-people-wb">1</span></h4>
                        <input type="range" min="1" max="10" value="1" class="slider slider-opt" id="hungry-people-slider-wb">
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
</div>
<div class="container homepage-section" id="wb-prices">
    <div class="d-flex justify-content-center">
        <button id="homepage-load-wb-prices" class="btn btn-dark"><span id="load-btn-text">Загрузить цены на гречу</span><div class="spinner-border spinner-border-sm" id="homepage-load-wb-prices-sipnner" hidden="true"></div></div></button>
        <p style="font-weight: lighter;">
            <div id="homepage-wb-prices">
            </div>
        </p>
    </div>
</div>
<div class="container homepage-section" id="about-us">
    <h1>О нас</h1>
    <p style="font-weight: lighter;">
        <div id="homepage-about-us">
            Да это ж я, Арсений Карпенко, не узнали?
        </div>
    </p>
</div>
<div class="container homepage-section" id="feedback">
    <h1>Отзывы</h1>
    <p style="font-weight: lighter;">
        <div id="homepage-feedback">
            {% if is_user_auth == False %}
            <span id="comment-warning">Оставлять отзывы могут только участники</span>
            {% endif %}
            <div class="row" id="homepage-feedback-block">
                <div class="spinner-border spinner-border-sm" id="homepage-load-comments-sipnner" hidden="false"></div>
            </div>
            {% if is_user_auth == True %}
            <div class="card comment-card-body" id="comment-form-container">
                <form action="{% url 'add_comment' %}" method="post" id="comment-form">
                    {% csrf_token %}
                    <h4>Оставить отзыв:</h4>
                    <input type="text" placeholder="Ваше имя" class="form-control comment-text" id="nickname" name="nickname" required>
                    <textarea class="form-control comment-text" placeholder="Отзыв" rows="5" id="comment" name="comment" required></textarea>
                    <button class="btn btn-dark my-2 my-sm-0" type="button" id="send-comment-btn">Отправить</button>
                </form>
            </div>
            {% endif %}
        </div>
    </p>
</div>
{% endblock %}